<h4>d3 tutorials</h4>
<p>
  <button mat-raised-button color="primary" (click)="exam01()">exam01</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="exam02()">exam02</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="exam03()">exam03</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="exam04()">exam04</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="exam05()">exam05</button>
  <span>&nbsp;</span>
</p>
