<h4>cyto-graph works!</h4>
<p>
  <button mat-raised-button color="primary" (click)="toggleProgress()">T-Progress</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="rollback()">Rollback</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="toggleTitle()">T-Title</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="runMarkov()">R-Markov</button>
  <span>&nbsp;</span>
</p>
<p>
  <button mat-raised-button color="accent" (click)="layoutEuler()">L-Euler</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="layoutKlay()">L-Klay</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="layoutCoseBk()">L-CoseBk</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="layoutDagre()">L-Dagre</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="layoutCentric()">L-Centric</button>
  <span>&nbsp;</span>
</p>
<div class="wrapped-box">
  <div #progressBar style='visibility:hidden;'>
      <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
  </div>            

  <!-- Graph content -->
  <div class="gra_content" #divGraph></div>
</div>
  