<h4>cyto-graph works! <i class="material-icons">accessibility_new</i><mat-icon>home</mat-icon></h4>
<p>
  <button mat-raised-button color="primary" (click)="loadData()">Load Data</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="toggleProgressBar()">T-Progress</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="toggleTitle()">T-Title</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="runMarkov()">R-Markov</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="centralrityPR()">C-PR</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="centralrityDg()">C-Dg</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="centralrityCn()">C-Cn</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="centralrityBt()">C-Bt</button>
  <span>&nbsp;</span>
</p>
<p>
  <button mat-raised-button color="accent" (click)="layoutEuler()">L-Euler</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="layoutKlay()">L-Klay</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="layoutCoseBk()">L-CoseBk</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="layoutDagre()">L-Dagre</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="layoutCentric()">L-Centric</button>
  <span>&nbsp;</span>
</p>
<div class="wrapped-box">
  <div id="progressBar" #progressBar style='visibility:hidden;'>
      <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
  </div>            

  <!-- Graph content -->
  <div class="gra_content" #divGraph></div>
</div>
  