<nav>
  <p>
    <a routerLink="/ngx-table">NgxTable</a>, &nbsp;
    <a routerLink="/cyto-graph">CytoGraph</a>, &nbsp; 
    <a routerLink="/mat-table">MatTable</a>, &nbsp; 
    <a routerLink="/socket">WebSocket</a>, &nbsp; 
    <a routerLink="/rxjs">RxjsTutorials</a>, &nbsp; 
    <a routerLink="/stream">StreamTutorials</a>, &nbsp; 
    <a routerLink="/cy-tutorials">CyTutorials</a>, &nbsp; 
    <a routerLink="/cy-animate">CyAnimate</a>, &nbsp; 
  </p>
  <p>
    <a routerLink="/d3-tutorial">D3 Tutorial</a>, &nbsp;
    <a routerLink="/d3-graph">D3 Graph</a>, &nbsp;
    <a routerLink="/d3-chart">D3 Chart</a>, &nbsp;/&nbsp;
    <a routerLink="/d3-graph01">D3 Graph01</a>, &nbsp;
  </p>
</nav>

<router-outlet></router-outlet>
