<h2>Theme Demo</h2>
<form><textarea #codeArea id="code" name="code" rows="5"> </textarea></form>
<app-query-state [limitTime]="10" (overTime)="onStateOverTime($event)"></app-query-state>

<div>
  <h3>
    Client-side Paging
    <small>
      <a href="https://github.com/swimlane/ngx-datatable/blob/master/demo/paging/paging-client.component.ts" target="_blank">
        Source
      </a>
    </small>
  </h3>
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="[{name:'Name'},{name:'Gender'},{name:'Company'}]"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10">
  </ngx-datatable>
</div>