<p>
  rxjs-tutorials works!
</p>
<p>
  <button mat-raised-button color="primary" (click)="graphJson01()">GJson-1</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="graphJson02()">GJson-2</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="graphJson03()">GJson-3</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="graphJson04()">GJson-4</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="graphJson05()">GJson-5</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="graphJson06()">GJson-6</button>
  <span>&nbsp;</span>
</p>
<p>
  <button mat-raised-button color="accent" (click)="graphStream01()">GStream-1</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="graphStream02()">GStream-2</button>
  <span>&nbsp;</span>
</p>
<p>
  <button mat-raised-button color="warn" (click)="tutorial01()">Rxjs-1</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="tutorial02()">Rxjs-2</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="tutorial03()">Rxjs-3</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="tutorial04()">Rxjs-4</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="tutorial05()">Rxjs-5</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="tutorial06()">Rxjs-6</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="tutorial07()">Rxjs-7</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="tutorial08()">Rxjs-8</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="tutorial09()">Rxjs-9</button>
  <span>&nbsp;</span>
</p>
