<h4>cyto-animate works! <i class="material-icons">accessibility_new</i><mat-icon>home</mat-icon></h4>
<p>
  <button mat-raised-button color="primary" (click)="runLayout()">runLayout</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="primary" (click)="sampleAni()">sampleAni</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="toggleTitle()">T-Title</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="runMarkov()">R-Markov</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="centralrityPR()">C-PR</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="centralrityDg()">C-Dg</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="centralrityCn()">C-Cn</button>
  <span>&nbsp;</span>
  <button mat-raised-button color="accent" (click)="centralrityBt()">C-Bt</button>
  <span>&nbsp;</span>
</p>
<div class="wrapped-box">
  <div id="progressBar" #progressBar style='visibility:hidden;'>
      <mat-progress-bar color="accent" mode="indeterminate">Loading...</mat-progress-bar>
  </div>            
  
  <div>
    <p>
      Simple Slider ({{ simpleSliderElement.current }})
      <button (click)="setSliderValue('2018-05-01')">Update Slider to '2018-05-01'</button>
    </p>
    <ion-date-slider #simpleSliderElement
        [current]="2018-02-01"
        [grid]="true"
        [values]="mdata"
        [disable]="false"
        [interval]="2000"
        (onChange)="onChangeSlider($event)"
        (onUpdate)="onUpdateSlider($event)"
        (onFinish)="onUpdateSlider($event)"></ion-date-slider>
  </div>

  <!-- Graph content -->
  <div class="gra_content" #divGraph></div>
</div>
  