/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~font-awesome/css/font-awesome.min.css";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/idea.css";

@import "~cytoscape-panzoom/cytoscape.js-panzoom.css";
@import "assets/css/jquery.qtip.min.css";

@font-face { font-family: 'Nanum Gothic', sans-serif; 
  src: url("resources/fonts/NanumGothic-Regular.ttf"), url("resources/fonts/NanumGothic-Bold.ttf"), url("resources/fonts/NanumGothic-ExtraBold.ttf");
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
}

.custom-width {
  width: 1200px;
}
